.SkillsIcon {
    display: inline-block;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    vertical-align: middle;
    background-color: gainsboro ;
}

.IconC{
    mask: url('asset/CLine.svg');
}

.IconCpp{
    mask: url('asset/cpp.svg');
}

.IconPython{
    mask: url('asset/PythonOriginal.svg');
}

.IconJava{
    mask: url('asset/JavaOriginal.svg');
}

.IconHTML{
    mask: url('asset/Html5Plain.svg');
}

.IconCss{
    mask: url('asset/Css3Plain.svg');
}

.IconJavaScript{
    mask: url('asset/JavascriptPlain.svg');
}